body {
    background: rgb(132,17,209);
    background: linear-gradient(0deg, rgba(132,17,209,1) 0%, rgba(4,1,5,1) 30%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    color: rgb(132,17,209);
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button--wrap {
    display: flex;
    gap: 30px;
}

.time {
    width: 225px;
    height: 50px;
    color:rgb(132,17,209);
    background-color: #000000;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.button__start--wrap {
    width: 100px;
    height: 50px;
}

.button__clear-timer, .button__stop-timer, .button__start-timer  {
    width: 100%;
    height: 100%;
    background-color: rgb(132,17,209);
    border-radius: 15px;
}


.button__start-timer:hover, .button__clear-timer:hover, .button__stop-timer:hover  {
    color:aliceblue;
    background-color: rgb(77, 9, 122);
}

.button__start-timer:active, .button__clear-timer:active {
    background-color:rgb(132,17,209) ;
}

.button__stop-timer:active {
    background-color: rgb(218, 56, 56) ;
}



